/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define LAYER_COLEMAK 0
#define LAYER_NAV 1
#define LAYER_MEDIA 2
#define LAYER_SYM 3
#define LAYER_NUM 4
#define LAYER_FN 5


&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ { 

    macros {
        macro_chrome: macro_chrome {
            label = "macro_chrome";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <700>;
            tap-ms = <10>;
            bindings =
                <&macro_tap &kp LGUI>,
                <&kp C &kp H &kp R &kp O &kp M &kp E>,
                <&macro_wait_time 500>,
                <&kp ENTER>;
        };

        macro_calc: macro_calc {
            label = "macro_calc";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <700>;
            tap-ms = <10>;
            bindings =
                <&macro_tap &kp LGUI>,
                <&kp C &kp A &kp L &kp C &kp U &kp L &kp A &kp T &kp O &kp R>,
                <&macro_wait_time 500>,
                <&kp ENTER>;
        };

        macro_slack: macro_slack {
            label = "macro_slack";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <700>;
            tap-ms = <10>;
            bindings =
                <&macro_tap &kp LGUI>,
                <&kp S &kp L &kp A &kp C &kp K>,
                <&macro_wait_time 500>,
                <&kp ENTER>;
        };

        macro_gmail: macro_gmail {
            label = "macro_gmail";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <10>;
            bindings =
                <&macro_press &kp LCTRL>,
                <&macro_tap &kp T>,
                <&macro_release &kp LCTRL>,
                <&macro_tap &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M &kp ENTER>;
        };

        macro_messenger: macro_messenger {
            label = "macro_messenger";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <10>;
            bindings =
                <&macro_press &kp LCTRL>,
                <&macro_tap &kp T>,
                <&macro_release &kp LCTRL>,
                <&macro_tap &kp M &kp E &kp S &kp S &kp E &kp N &kp G &kp E &kp R &kp DOT &kp C &kp O &kp M &kp ENTER>;
        };
    };

    combos {
        /*                KEY POSITIONS

            ╭────────────────────╮ ╭────────────────────╮
            │  0   1   2   3   4 │ │  5   6   7   8   9 │
            │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
            │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
            ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
                        ╰────────╯ ╰────────╯            */
                        
        compatible = "zmk,combos";

        // keys to key combos
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        combo_lpar {
            timeout-ms = <50>;
            key-positions = <3 4>;
            bindings = <&kp LPAR>;
        };
        combo_rpar {
            timeout-ms = <50>;
            key-positions = <5 6>;
            bindings = <&kp RPAR>;
        };
        combo_comma {
            timeout-ms = <50>;
            key-positions = <30 31>;
            bindings = <&kp COMMA>;
            layers = <LAYER_NUM>;
        };
        
        // keys to layer combos
        combo_fn {
            timeout-ms = <50>;
            key-positions = <32 33>;
            bindings = <&mo LAYER_FN>;
        };
        
        // keys to macro combos
        // QWF to open chrome
        combo_chrome {
            timeout-ms = <50>;
            key-positions = <0 1 2>;
            bindings = <&macro_chrome>;
        };
        // LUY - calculator
        combo_calc {
            timeout-ms = <50>;
            key-positions = <6 7 8>;
            bindings = <&macro_calc>;
        };
        // - ,./ to open slack
        combo_slack {
            timeout-ms = <50>;
            key-positions = <27 28 29>;
            bindings = <&macro_slack>;
        };
        // - UY' to open gmail
        combo_gmail {
            timeout-ms = <50>;
            key-positions = <7 8 9>;
            bindings = <&macro_gmail>;
        };
        // - ZXC to open messenger
        combo_messenger {
            timeout-ms = <50>;
            key-positions = <20 21 22>;
            bindings = <&macro_messenger>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

        keymap {
                compatible = "zmk,keymap";
                
            /*
            * Default Layer: COLEMAK_DHM GACS
            *
            *   -----------------------------------.     ,-----------------------------------
            *  |      |      |      |       (     |     |       )     |      |      |      |
            *  |   Q  |   W  |   F  |   P  |   B  |     |   J  |   L  |   U  |   Y  | ' "  |
            *  -------+------+------+------+------|     |------+------+------+------+------+
            * | GUI/A| Alt/R|Ctrl/S|LSft/T|   G  |      |  M   |LSft/N|Ctrl/E| Alt/I| GUI/O|
            * +------+------+------+------+------+      +------+------+------+------+------+
            * |   Z  |ALGR/X|   C  |   D  |   V  |      |   K  |   H  | ,  < |ALGR.>| /  ? | 
            * ---------------+------+------+------+     +------+------+------+--------------
            *                       |      |      |     |     Fn     |
            *                       |Space |  Tab |     |Enter| Bksp |
            *                       |  Nav | Media|     | Sym | Num  |
            *                       ---------------     --------------
            */
       		default_layer {
                bindings = <
                    &kp Q      &kp W      &kp F       &kp P        &kp B 			&kp J         &kp L        &kp U       &kp Y        &kp QUOT 
                    &hm LGUI A &hm LALT R &hm LCTRL S &hm LSHIFT T &kp G            &kp M         &hm LSHIFT N &hm LCTRL E &hm LALT I   &hm LGUI O
                    &kp Z      &hm RALT X &kp C       &kp D        &kp V			&kp K         &kp H        &kp COMMA   &hm RALT DOT &kp SLASH
                                                      &lt LAYER_NAV SPC  &lt LAYER_MEDIA TAB  	&lt LAYER_SYM ENTER &lt LAYER_NUM BSPC 
                >;
		    };
            
            /*
            * Navigation Layer
            *
            *   -----------------------------------.     ,-----------------------------------
            *  |      |      |      |      |      |     |      |      |      |      |      |
            *  -------+------+------+------+------|     |------+------+------+------+------+
            * |      |      |      |      |      |      | Caps | Left | Down |  Up  | Right|
            * +------+------+------+------+------+      +------+------+------+------+------+
            * |      |      |      |      |      |      |Insert| Home | PgDn | PgUp |  End | 
            * ---------------+------+------+------+     +------+------+------+--------------
            *                       |      |      |     |     |Delete|
            *                       ---------------     --------------
            */
       		nav_layer {
                label = "NAV";
                bindings = <
                    &none &none &none &none &none	&none    &none    &none     &none     &none 
                    &none &none &none &none &none 	&kp CAPS &kp LEFT &kp DOWN  &kp UP    &kp RIGHT 
                    &none &none	&none &none &none 	&kp INS  &kp HOME &kp PG_DN &kp PG_UP &kp END 
                                      &none &none  	&none    &kp DEL 
                >;
            };
		
            /*
            * Media Layer
            *
            *   -----------------------------------.     ,-----------------------------------
            *  |      |      |      |      |      |     |BT_CLR|      |BT_NXT| BT_PRV| PrtSc|
            *  -------+------+------+------+------|     |------+------+------+------+------+
            * |      |      |      |      |      |      |      | Prev | VolDn| VolUp| Next |
            * +------+------+------+------+------+      +------+------+------+------+------+
            * |      |      |      |      |      |      |      |      |      |      | Mute | 
            * ---------------+------+------+------+     +------+------+------+--------------
            *                       |      |      |     | Stop | Pause|
            *                       ---------------     --------------
            */
            media_layer {
                label = "MEDIA";
                bindings = <
                    &none &none &none &none &none	&bt BT_CLR &none      &bt BT_NXT   &bt BT_PRV   &kp PSCRN 
                    &none &none &none &none &none   &none      &kp C_PREV &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT
                    &none &none	&none &none &none   &none      &none      &none        &none        &kp C_MUTE
                                      &none &none  	&kp C_STOP &kp C_PP 
                >;
            };	


            /*
            * Symbol Layer
            *
            *   -----------------------------------.     ,-----------------------------------
            *  |   {  |   &  |   *  |   (  |   }  |     |      |      |      |      |      |
            *  -------+------+------+------+------|     |------+------+------+------+------+
            * |   :  |   $  |   %  |   ^  |   +  |      |      |      |      |      |      |
            * +------+------+------+------+------+      +------+------+------+------+------+
            * |   ~  |   !  |   @  |   #  |   |  |      |      |      |      |      |      | 
            * ---------------+------+------+------+     +------+------+------+--------------
            *                       |      |  _   |     |      |      |
            *                       ---------------     --------------
            */
            sym_layer {
                label = "SYM";
                bindings = <
                    &kp LBRC  &kp AMPS &kp STAR  &kp LPAR  &kp RBRC 	&none &none &none &none &none
                    &kp COLON &kp DLLR &kp PRCNT &kp CARET &kp PLUS  	&none &none &none &none &none 
                    &kp TILDE &kp EXCL &kp AT    &kp HASH  &kp PIPE   	&none &none &none &none &none   
                                                 &none     &kp UNDER  	&none &none 
                >;
            };	

            /*
            * Number Layer
            *
            *   -----------------------------------.     ,-----------------------------------
            *  |   [  |   7  |   8  |   9  |   ]  |     |      |      |      |      |      |
            *  -------+------+------+------+------|     |------+------+------+------+------+
            * |   ;  |   4  |   5  |   6  |   =  |      |      |      |      |      |      |
            * +------+------+------+------+------+      +------+------+------+------+------+
            * |   `  |   1  |   2  |   3  |   \  |      |      |      |      |      |      | 
            * ---------------+------+------+------+     +------+------+------+--------------
            *                       |       ,     |     |      |      |
            *                       |   0  |  -   |     |      |      |
            *                       ---------------     --------------
            */
            num_layer {
                label = "NUM";
                bindings = <
                    &kp LBKT  &kp N7 &kp N8 &kp N9 &kp RBKT 	&none &none &none &none &none
                    &kp SEMI  &kp N4 &kp N5 &kp N6 &kp EQUAL  	&none &none &none &none &none 
                    &kp GRAVE &kp N1 &kp N2 &kp N3 &kp BSLH   	&none &none &none &none &none   
                                            &kp N0 &kp MINUS  	&none &none 
                >;
            };	

            /*
            * Function Layer
            *
            *   -----------------------------------.     ,-----------------------------------
            *  | F12  |  F7  |  F8  |  F9  |      |     |      |      |      |      |      |
            *  -------+------+------+------+------|     |------+------+------+------+------+
            * |  F11 |  F4  |  F5  |  F6  |      |      |      |      |      |      |      |
            * +------+------+------+------+------+      +------+------+------+------+------+
            * |  F10 |  F1  |  F2  |  F3  |      |      |      |      |      |      |      | 
            * ---------------+------+------+------+     +------+------+------+--------------
            *                       |      |      |     |      |      |
            *                       ---------------     --------------
            */
            fn_layer {
                label = "FN";
                bindings = <
                    &kp F12 &kp F7 &kp F8 &kp F9 &none 	    &none &none &none &none &none
                    &kp F11 &kp F4 &kp F5 &kp F6 &none  	&none &none &none &none &none 
                    &kp F10 &kp F1 &kp F2 &kp F3 &none   	&none &none &none &none &none   
                                          &none  &none  	&none &none 
                >;
            };	
        
	};
};
